* {
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior:smooth;
  }
  
  /* Navigation Bar */
  #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    height: 4rem;
  }
  
  #navbar::before {
    content: "";
    background-color:black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
  }
  
  /* Navigation Bar: List Styling */
  
  #navbar ul {
    display: flex;
    font-family: "Baloo Bhaijaan 2", cursive;
  }
  
  #navbar ul li {
    list-style: none;
    font-size: 1.3rem;
  }
  
  #navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
  }
  
  #navbar ul li a:hover {
    color: rgba(139, 177, 202, 0.5);
  }
  
  /* Home Section */
  #home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 40rem;
    margin-top: 5%;
    align-items: center;
  }
  
  #home::before {
    content: "";
    position: absolute;
    background: linear-gradient(rgba(10, 86, 136, 0.5), rgba(10, 86, 136, 0.5)),
      url("../img/home-bg.jpg") no-repeat center center/cover;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    box-shadow: 0px 5px 5px #888;
  }
  
  #home h1 {
    color: white;
    text-align: center;
    font-family: "Kaushan Script";
    margin-top: 7%;
  }
  
  #home span {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Baloo Bhaijaan 2";
  }
  #home a {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: white;
    color: black;
    margin: 17px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Baloo Bhaijaan 2";
    text-decoration: none;
  }
  
  #home a:hover {
    color: rgb(83, 155, 221);

  }
  
  /* About Me Section */
  #about-me {
    font-family: "Baloo Bhaijaan 2", cursive;
    font-size: 1.4rem;
    margin: 0% 5% 5% 5%;
    color: #333;
  }
  
  #about-me h1 {
    font-family: "Baloo Bhaijaan 2", cursive;
    font-size: 3.8rem;
    padding: 12px;
  }
  
  /* Resume Section */
  #resume {
    font-family: "Baloo Bhaijaan 2", cursive;
    font-size: 1.4rem;
    margin: 0% 5% 5% 5%;
    color: #333;
  }
  
  #resume-content {
    display: flex;
  }
  
  #resume h1 {
    font-family: "Baloo Bhaijaan 2", cursive;
    font-size: 3.8rem;
    padding: 12px;
  }
  
  /* Contact Section */
  
  #contact {
    position: relative;
    font-family: "Baloo Bhaijaan 2", cursive;
    font-size: 1.4rem;
    color: #333;
    height: 100%;
    padding: 2%;
    z-index: -3;
  }
  
  #contact::before {
    content: "";
    position: absolute;
    background: linear-gradient(rgba(10, 86, 136, 0.5), rgba(10, 86, 136, 0.5)),
    url("../img/home-bg.jpg") no-repeat center center/cover;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    box-shadow: 0 0 7px #888;
  }
  
  #contact h1 {
    font-family: "Kaushan Script", cursive;
    font-size: 3.2rem;
    padding: 12px;
    margin-bottom: 2%;
    color: white;
  }
  
  #contact h2 {
    font-family: "Baloo Bhaijaan 2", cursive;
    font-size: 1.8rem;
    padding: 12px;
    color: white;
  }
  
  .fa {
    padding: 0.5%;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 15%;
    box-shadow: 0 0 7px #888;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  

  
  /* Utility Classes */
  .h-primary {
    font-family: "Baloo Bhaijaan 2", cursive;
    font-size: 3.8rem;
    padding: 12px;
    color: white;
  }
  
  .center {
    text-align: center;
  }
  
  .left {
    text-align: left;
    padding-left: 2rem;
  }
  
  hr.style {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);

  }
  
  p:before {
    content: "• ";
  }
